<app-header></app-header>
<div style="padding-top: 100px;">
    <div class="container-fluid">
      <div class="header-container">
    
        <div class="container">
            <h2 style="padding-bottom: 50px;">Analysis Report</h2>
          
            <!-- Single image at the top -->
            <div class="top-image">
              <img src="assets/graph.jpg" alt="Top Graph" class="graph-img">
            </div>
          
            <!-- Flex container for side-by-side display of the next two images -->
            <div class="image-container">
              <!-- Second image on the left -->
              <div class="image-item">
                <img src="assets/pie chart.jpg" alt="Pie Chart" class="chart-img">
              </div>
          
              <!-- Third image on the right -->
              <div class="image-item">
                <img src="assets/graph2.jpg" alt="Bottom Graph" class="graph-img">
              </div>
            </div>
          </div>
