.container {
    text-align: center;
    padding: 20px;
  }
  
  .image-container {
    display: flex;
    justify-content: space-around; /* Space between images */
    align-items: center;
    margin-top: 50px;
  }
  
  .image-item {
    flex: 1;
    margin: 0 10px;
  }
  
  .center-image {
    margin-top: 30px;
    text-align: center;
  }
  
  .graph-img, 
  .chart-img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
  }
  
  @media (max-width: 768px) {
    .image-container {
      flex-direction: column
       }
}